.slider-btns {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.slider-btns__prev, .slider-btns__next {
    font-size: 24px;
    border: 1px solid black;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.slider-btns__prev:active, .slider-btns__next:active {
    background-color: aquamarine;
}

.container {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }